# Server Configuration
PORT=5000
NODE_ENV=production

# Security
JWT_SECRET=your_jwt_secret_here

# Database
DB_STORAGE=./database.sqlite

# Cloudflare Tunnel (Set NODE_ENV to production to enable)
CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoiYjhkNmYwZmQ5MDUxMDVlZDgzMGJjZGRlY2NmM2Y1OTciLCJ0IjoiNzY0NzY3YWQtNzE4Yi00MTMwLWI1OTItMTBlMTliMGEzNWQ5IiwicyI6Ik9EWmxOVGMyWWpZdE0yVTNaUzAwTXpOa0xUbGpNVGd0TVRReFpHWXhOakJoWVRReCJ9cloudflared.exe service install eyJhIjoiYjhkNmYwZmQ5MDUxMDVlZDgzMGJjZGRlY2NmM2Y1OTciLCJ0IjoiNzY0NzY3YWQtNzE4Yi00MTMwLWI1OTItMTBlMTliMGEzNWQ5IiwicyI6Ik9EWmxOVGMyWWpZdE0yVTNaUzAwTXpOa0xUbGpNVGd0TVRRecloudflared.exe service install eyJhIjoiYjhkNmYwZmQ5MDUxMDVlZDgzMGJjZGRlY2NmM2Y1OTciLCJ0IjoiNzY0NzY3YWQtNzE4Yi00MTMwLWI1OTItMTBlMTliMGEzNWQ5IiwicyI6Ik9EWmxOVGMyWWpZdE0yVTNaUzAwTXpOa0xUbGpNVGd0TVRReFpHWXhOakJoWVRReCJ9
